<div>
    <ul class="unstyled">
        <li ng-repeat="post in blogposts">
            <h5>{{post.date}} {{post.user.firstName}} {{post.user.lastName}}:</h5>
            {{post.blogText}}
        </li>
    </ul>
    <form name="newBlogPost">
        <label>
            User id:
            <input type="text" ng-model="userId" required>
        </label>
        <label>
            <h5>Blog text:</h5>
            <textarea type="text" ng-model="blogText" rows="7" cols="50" required></textarea>
        </label>
        <button class="btn" ng-click="addBlogPost()">Post</button>
    </form>
</div>