<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fish registration</title>
    <!--Angular-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>

    <!--css-->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css"
          rel="stylesheet" type="text/css"/>

    <!--Logic for fish registration-->
    <script type="text/javascript" , src="js/fish_registration.js"></script>

    <!--Charts-->
    <script src="js/node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="js/node_modules/angular-chart.js/dist/angular-chart.min.js"></script>

    <!--Google maps-->
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="js/ng-map.min.js"></script>
</head>
<body ng-app="myApp">

<div ng-controller="registerCtrl">
    <h2>Number of fish registered: {{fishes.length}}</h2>
    <ul class="unstyled">
        <li ng-repeat="fish in fishes">
            {{fish}}
            <td>
                <button class="btn" ng-click="deleteFish(fish.id)">
                    Delete fish
                </button>
            </td>
        </li>
    </ul>

    <form name="newRegistration">
        <label>
            Weight (kg):
            <input type="text" ng-model="fishWeight" required>
        </label>
        <label>
            Length (cm):
            <input type="text" ng-model="fishLength" required>
        </label>
        <label>
            Species:
            <select ng-model="fishSpecies">
                <option value="Sea Trout">Sea Trout</option>
                <option value="Pike">Pike</option>
                <option value="Redfin">Redfin</option>
                <option value="Other">Other</option>
            </select>
        </label>
        <button class="btn" ng-click="addFish()">Register fish</button>
    </form>
</div>

<ul class="unstyled">
    <li>
        <a href="index.html">Go to map!</a>
    </li>
    <li>
        <a href="graphs.html">Go to graphs!</a>
    </li>
</ul>

</body>
</html>